*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background: url(img-bg.jpg) center no-repeat;
    background-size: cover;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

select {
    display: block;
    width: 150px;
    height: 25px;
    margin: 0 auto;
    font-size: 17px;
    text-align-last: center;
    border-radius: 5px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
}

.row__item {
    width: 20%;
    border: 2px solid #fff;
    border-radius: 5px;
    text-align: center;
    margin: 15px;
}

.row__item div {
    padding: 20px;
    border-bottom: 1px solid #fff;
    
}

.row__item div:last-child {
    border-bottom: none;
}

.row__item .item__icon {
    padding: 10px;
}

.item__data {
    color: #fff;
}

.item__temp {
    font-size: 40px;
}


